footer {
  background: #18181a;
  color: white;
  padding: 2rem;
  height: 30rem;
  padding: 6rem 0;
}
.footerContainer article {
  display: flex;
  justify-content: space-around;
}
.descrition {
  max-width: 25%;
  margin-top: -11px;

  & img {
    width: 6rem;
  }
  & p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}
.Company {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  color: #0175f7;

  & a{
    color: rgba(255, 255, 255, 0.568);
  }

  a:hover {
    text-shadow: 1px 1px 5px white;
  }
}
.subscribe {
  & form {
    font-size: 1.4rem;
  }
  & form input {
    font-size: 1.4rem;
    padding: 0.8rem;
    border: none;
    flex: 1;
  }
  & form button {
    background: #0175f7;
    color: white;
    padding: 0.8rem 0;
    width: 10rem;
    font-weight: 500;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px #0004;
    border-radius: 0;
    transition: filter 200ms;
  }
  & form button:hover {
    cursor: pointer;
    filter: brightness(1.05);
  }
}

/* social */
.button-container-footer {
  justify-content: center;
  margin-top: 5rem;
  display: flex;
  gap: 6rem;
}

.button {
  cursor: pointer;
  color: #ffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.45s;
}

.button:hover {
  transform: rotate(360deg);
  transform-origin: center center;
  background-color: #0175f7;
  color: #2d2e32;
}

.button:hover .btn-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg)
    brightness(103%) contrast(103%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
& button {
  background: #0175f7;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.8rem;
  width: 15rem;
  transition: filter 200ms, scale 200ms;

  &:hover {
    cursor: pointer;
    filter: brightness(1.05);
    scale: 1.01;
  }
}
