.outroContainer {
  height: 60rem;
  display: flex;
  padding: 3.2rem 2.4rem 2.4rem;
  margin: auto;
  text-align: center;
  color: white;
  background: black;

  & h2 {
    font-size: 3.2rem;
  }
}

.ourServices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
  max-width: 52rem;
  margin: 1.6rem auto 0;
}

.cardPont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2.4rem;

  & .imgPont {
    width: 5.2rem;
  }

  & .imgPont img {
    width: 100%;
  }

  & p {
    text-align: left;
    font-size: 1.8rem;
  }
}
.dadosContainer {
  max-width: 50%;

  & img {
    width: 80%;
  }
}
.dadosTxtImg {
  position: absolute;
  width: 25%;
  background: #0175f7;
  border-radius: 1rem;
}

.howItWorksContainer {
  padding: 3.2rem 2.4rem;

  & h2 {
    text-align: center;
    font-size: 2rem;
  }
}

.cardsHowItWorks {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;
}

.cardHowItWorks {
  width: 24rem;
  margin: 0 auto;
  text-align: justify;

  & img {
    width: 100%;
  }

  & h3 {
    line-height: 160%;
    font-size: 1.6rem;
  }

  & p {
    font-size: 1.4rem;
  }
}
