.outroContainer {
  display: flex;
  justify-content: space-evenly;
  height: 60rem;
  border-top: 5px solid #ccc1;
  padding: 3.2rem 2.4rem 2.4rem;
  text-align: center;
  color: white;
  background: black;

  & h2 {
    font-size: 3.2rem;
  }
}

.ourServices {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  max-width: 52rem;
}

.cardPont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2.4rem;

  & .imgPont {
    width: 5.2rem;
  }

  & .imgPont img {
    width: 100%;
  }

  & p {
    text-align: left;
    font-size: 1.8rem;
  }
}
.dadosContainer {
  max-width: 50%;

  & img {
    margin-top: 5rem;
    width: 100%;
    border: solid 1px #0174f7;
  }
  & p {
    font-size: 1.6rem;
  }
}
.dadosTxtImg {
  position: absolute;
  top: 73rem;
  right: 8rem;
  width: 34%;
  height: 4rem;
  margin-top: 5rem;
  background: #0175f7;
  align-items: center;
  font-size: 2.6rem;
  text-shadow: 1px 1px 30px black;
}

.AprendaContainer {
  height: 60rem;
  padding: 2.4rem 4.2rem;
  background: black;
  color: white;
  border-top: 1px solid #ccc2;

  & h2 {
    text-align: center;
    font-size: 5.2rem;
  }
}
.boxAprenda {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: row;
}
.aprendaImg {
  position: relative;
  width: 22rem;
  margin: auto;
  text-align: justify;

  & img {
    width: 100%;

    &:hover {
      border: 3px solid #0174f746;
    }
  }

  & h3 {
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 1.6rem;
    text-shadow: 2px 2px 5px black;
  }

  & p {
    max-width: 90%;
    position: absolute;
    top: 65%;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    text-shadow: 2px 2px 5px black;
  }
}
